@use '_variables.scss' as var;

// navigation bar
header {
    font-family: 'Poppins', sans-serif;
}

.navigation-container,
.nav-list {
    list-style: none;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.navigation-container {
    margin: 0 9.375vw;
    padding: 32px 0;
}

.logo {
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 1.4167;
    color: var.$font-bold;
}

.nav-list {
    gap: 0 50px;
}

.nav-link {
    color: var.$font-nav;
    font-size: 1.25rem;
    line-height: 1.6;

    &.active {
        color: var.$font-bold;
        font-weight: 700;
    }
}

.btn-nav {
    background-color: var.$button-primary;
    padding: 12px 32px;
}

// hero-section
.hero-section {
    padding-top: 48px;
}

.hero-container {
    margin: 0 9.375vw;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 0.5fr 2.5fr 0.5fr;
    gap: 0px 55px;
}

.hero-left {
    grid-area: 1 / 1 / 3 / 2;
}

.hero-right {
    grid-area: 2 / 2 / 4 / 3;
}

.hero-subtitle {
    font-size: 1.25rem;
    line-height: 1.6;
}

.hero-btn {
    &--1 {
        background-color: var.$button-primary;
        padding: 14px 30px;
    }

    &--2 {
        background-color: var.$secondary-bg;
        color: var.$button-primary;
        border: 1px solid var.$button-accent;
        padding: 14px 40px;
    }
}

.rect {
    background-color: var.$img-acc;
    border-top-left-radius: 200px;
    position: relative;
}

.hero-obj {
    width: 100%;
    object-fit: cover;
}

.hero-right {
    display: grid;
}

.img-filler-text-top,
.img-filler-text-bottom {
    background-color: white;
}

.hero-content {
    color: var.$font-bold;

    &--large {
        font-weight: 600;
        font-size: 1.375rem;
        line-height: 1.45;
    }

    &--small {
        font-size: 1.125rem;
        line-height: 1.67;
    }
}