//background color
$primary-bg: #F5F5F5;
$secondary-bg: #F8F8F8;

//font
$font-bold: #393E45;
$font-regular: #7A7B84;

//nav link fonts
$font-nav: #808189;

//button
$button-primary: #191A23;
$button-accent: #0B14FB;